<%= form_with(model: std, local: true) do |form| %>
  <% if std.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(std.errors.count, "error") %> prohibited this std from being saved:</h2>

      <ul>
        <% std.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :class_teacher %>
    <%= form.text_field :class_teacher %>
  </div>

  <div class="field">
    <%= form.label :division %>
    <%= form.text_field :division %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
