<% title "Sign Up",%>
<section class="">
	<h1 class="text-center bg-success text-white">New User Sign Up</h1>
	
<center>
<div class="w-50">
	<%= bootstrap_form_with(model: @user, local: true) do |f| %>
		<%= f.alert_message "Please fix the error below",error_summary: true %>
		<%= f.text_field :name %>
		<%= f.email_field :email %>
		<%= f.number_field :std_id %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation, label: "Confirm password" %>
		<%= f.form_group do  %>
			<%= f.primary "Sign Up" %>
		<% end %>
	<% end %>
</div>
</center>
</section>